numpy>=1.15.4
nbsphinx>=0.3.5
nbconvert>=5.4.1
nbformat>=4.4.0
docutils>=0.14
Sphinx>=1.8.1
sphinx-autobuild>=0.7.1
sphinx-rtd-theme>=0.4.2
sphinxcontrib-websupport>=1.1.0
sphinx-click
ipykernel>=4.8.2
scikit-learn
supy==2019.11.24
pandas==0.25.3
atmosp
platypus-opt
